<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.feat_gallery">

    <!-- Read files created by other applications -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Modify files created by your app and other applications -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application>
        <activity android:name=".presentation.view.GalleryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>