<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.istudio.distancetracker">

    <!--
    DESCRIPTION: -> The permission ACCESS_FINE_LOCATION is needed to get the user's location from the device
    RUNTIME-PERMISSION: -> Needed
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--
    DESCRIPTION: -> The permission ACCESS_BACKGROUND_LOCATION is needed from android-10 and above in older version its by default provided
    RUNTIME-PERMISSION: -> Needed
    -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!--
    DESCRIPTION: -> The permission FOREGROUND_SERVICE is needed to display the foreground notification as a service
    RUNTIME-PERMISSION: -> Not needed
    -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".TrackerApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.DistanceTrackerApp"
        tools:targetApi="31">

        <!--
        We set exported as false because , We don't want this service component to be available to other applications
        -->
        <service
            android:name=".service.TrackerService"
            android:exported="false"
            android:foregroundServiceType="location" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".main.MainActivity"
            android:theme="@style/Theme.App.Starting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>